body{
    background-color: antiquewhite;
    margin: 4%;
}

#page-content{
    background-color: rgb(169, 182, 237);
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
}

#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 70px;
    height: 70px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(5, 134, 219);
    color: rgb(255, 255, 255);
    opacity: 0.8;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    border-radius: 35px;
}

#datetime{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(245, 255, 159);
    color: rgb(24, 24, 141);
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    margin:auto auto 10px auto;
}

#web-description, #personal-motto{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(111, 148, 7);
    background-color: aquamarine;
    width: fit-content;
    height: fit-content;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}

h1{
    text-align: center;
    text-shadow: 20px;
    font-family: cursive;
    font-size: 40px;
    color: cadetblue;
}

h2{
    text-align: center;
    color: rgb(5, 113, 175);
    background-color: aquamarine;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    border-radius: 5px 5px 5px 5px;
}

a{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(5, 151, 151);
    color: rgb(55, 12, 175);
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

table{
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    background-color: aquamarine;
    color: blue;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

header{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: blueviolet;
}

.img_style{
    display: inline-block;
    height: auto;
    max-width: 100%;
}

p{
    opacity:0.8; 
    color:rgb(23, 92, 170);
    font-family: 'Times New Roman', Times, serif;
}

p.parse-quote-style{
    text-align: right;
    font-size: medium;
}

p.parse-style{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: small;
}

li{
    opacity:0.8; 
    color:rgb(23, 92, 170);
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

dt, dd{
    opacity:0.8; 
    color:rgb(23, 92, 170);
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}