body{
    background-color: #35ca9b;
}

h1 {
    color: #eeeb4c;
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 20pt;
    text-align: center;

}

p {
    color: #2aa00d;
    font-family: Consolas, monospace;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 16pt;
    margin: 8pt;
    padding: 5px;
}

#article-content{
    width: fit-content;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    background-color: #045c40;
    border-radius: 10px 10px 10px 10px;
}