body{
    background-color: rgb(65, 129, 5);
}

h1{
    text-align: center;
    margin-top: -10px;
}

canvas{
    background-color: rgb(104, 97, 1);
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 20px;
    opacity: 0.9;
}