body{
    background-color: antiquewhite;
}

h1{
    color: rgb(12, 107, 241);
    font-family: "楷体","宋体",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: fit-content;
    height: fit-content;
    background-color: antiquewhite;
    border-radius: 10px;
}

p{
    color: rgb(7, 96, 66);
    font-family: "宋体",'Lucida Sans', 'Lucida Sans Regular';
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    background-color: blanchedalmond;
}

ul{
    background-color: rgb(194, 194, 120);
    border-radius: 10px;
}

li{
    font-size: 18px;
    color: blueviolet;
}